@use '../../../styles/scss/changeable.module.scss' as *; 
@use '../../../styles/scss/mixins.module.scss' as *; 
@use "../../../styles/scss/templates.module.scss" as *; 



.btnBlock {
    display: block;
    margin: 2rem auto;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    background: $colobg;
    box-shadow: 0 5px 0 $grey;
    transition-duration: 1s;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;

    &:hover {
        background: $to-main-hover-bg;
    }

    &:active {
        top: 3px;
        box-shadow: 0 2px 0 $form-btn-bg-activ-box-shadow;
    }
}

.toHome {
    @extend %flex-center;
    width: 350px;
    height: 40px;
    color: $white;
}