@use './changeable.module.scss' as *;
@use './mixins.module.scss' as *;
@use "./templates.module.scss" as *;


.main{
    
    background-color: $back-bg;
}

.container {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}
.sections {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    z-index: 10;
    gap: 1rem;
    width: 30%;
    margin-top: 2rem;
}

.title {
    @extend %flex-center;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    height: 8rem;
    background-color: $back-bg;
    padding: 1rem;
}

.hanter,
.fishing,
.weapon,
.tourizm {
    border: 2px solid $black;
    display: flex;
    flex-direction: column;
}

.listSubtitle {
    text-align: center;
    font-size: 1.2rem;
    background-color: $list-subtitle-bg;
    padding: 1rem 0;
}

.lists {
    list-style: none;
}

.listTitle {
    background-color: $list-title-bg;
    text-align: center;
    font-size: 1.5rem;
    text-transform: lowercase;
}

.listsList {
    list-style: disc;
    padding: 0.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    cursor: pointer;
    color: $lists-list-color;

    &:hover {
        background-color: $form-btn-bg-hover;
        color: $whitesmoke;
    }
}


.adminBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 2rem;
}

.message{
    font-size: 2rem;
}
