@use './changeable.module.scss' as *;
@use './mixins.module.scss' as *;
@use "./templates.module.scss" as *;
.productWrapper {
    background-color: $colorbg-body;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.toHome {
    @extend %flex-center;
    margin: 2rem auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    background: inherit;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: $colobg;
    box-shadow: 0 5px 0 $grey;
    transition-duration: 1s;
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;

    &:hover {
        background: $to-main-hover-bg;
    }

    &:active {
        top: 3px;
        box-shadow: 0 2px 0 $form-btn-bg-activ-box-shadow;
    }
}



    // .product__slider

    .productSlider {
        margin: 3rem auto;
        width: 50%;
    }
        .slick-dots li button::before {
            font-size: 0;
        }

        .slick-dots {
            @extend %flex-center;
            position: relative;


            button {
                font-size: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $white;
            }

            li {
                margin: 0 10px;
            }

            .slick-active button {
                background: transparent;
                border: 2px solid $black;
            }
        }

        .slickArrow {
            font-size: 0;
            position: absolute;
            width: 2.5rem;
            height: 4.4rem;
            top: 40%;
            z-index: 10;
        }

        .slickPrev,
        .slickNext::before {
            content: url(../../../public/images/arrow.svg);
        }

        .slickPrev {
            left: -10%;
            transform: rotateY(180deg);
        }

        .slickNext {
            right: -10%;
            top: 45%;
        }
       

    .sliderSlide {
        width: 100%;
    }

    .productSliderItem {
        @extend %flex-center;
        border: 5px solid $colobg;
        border-radius: 1rem;
        background: $menu-color-bg;
        padding: 1rem 1rem;
    }

    .productSliderImage {
        width: 100%;
        height: 35rem;
        object-fit: scale-down;
    }



.productsName {
    text-align: center;
    margin: 2rem 0;
    @include adaptiv-font(48, 32);
}

.productsPrice {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    color: $red;
    @include adaptiv-font(64, 36);
}


.productsDescription {
    max-width: 60%;
    margin: 1rem auto;
    text-align: center;
    font-size: 2.5rem;
}

.productLists {
    width: 80%;
    text-align: start;
    margin-top: 2rem;
    font-size: 2rem;
}

.productList {
    margin: 1rem 0;
}

.productList::marker {
    content: '\1F525';
}

.btnPoz {
    @extend %flex-center;
    margin-top: 3rem;

}

.buyBtn {
    position: relative;
    z-index: 10;
    width: 10rem;
    height: 3rem;
    background: $buy-btn-bg;
    border-radius: 10px;
    color: $whitesmoke;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        background: $buy-btn-bg-hover;
    }
}

.customWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $colorbg-body;
    font-size: 2rem;
    
    padding: 10px 0;
    margin-top: 4rem;
    margin-bottom: -4rem;
}

.customContent {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    color: $red;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 913px) {
    .product {

        // .product__slider

        &__slider {
            width: 80%;

            .slick-arrow {
                display: none;
            }
        }

        &__slider-item {
            padding: 1rem 1rem;
        }
    }
}