@charset "UTF-8";
.toHome, .slick-dots, .productSliderItem, .btnPoz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productWrapper {
  background-color: #EEE8AA;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.toHome {
  margin: 2rem auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background: inherit;
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: #BDB76B;
  box-shadow: 0 5px 0 grey;
  transition-duration: 1s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}
.toHome:hover {
  background: #ece277;
}
.toHome:active {
  top: 3px;
  box-shadow: 0 2px 0 0 2px 0 rgb(11, 18, 11);
}

.productSlider {
  margin: 3rem auto;
  width: 50%;
}

.slick-dots li button::before {
  font-size: 0;
}

.slick-dots {
  position: relative;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
.slick-dots li {
  margin: 0 10px;
}
.slick-dots .slick-active button {
  background: transparent;
  border: 2px solid black;
}

.slickArrow {
  font-size: 0;
  position: absolute;
  width: 2.5rem;
  height: 4.4rem;
  top: 40%;
  z-index: 10;
}

.slickPrev,
.slickNext::before {
  content: url(../../../public/images/arrow.svg);
}

.slickPrev {
  left: -10%;
  transform: rotateY(180deg);
}

.slickNext {
  right: -10%;
  top: 45%;
}

.sliderSlide {
  width: 100%;
}

.productSliderItem {
  border: 5px solid #BDB76B;
  border-radius: 1rem;
  background: #ece493;
  padding: 1rem 1rem;
}

.productSliderImage {
  width: 100%;
  height: 35rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.productsName {
  text-align: center;
  margin: 2rem 0;
}
@media (max-width: 767px) {
  .productsName {
    font-size: calc(32px + 27.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .productsName {
    font-size: calc(32px + 16 * 100vw / 1920);
  }
}

.productsPrice {
  text-align: center;
  font-size: 4rem;
  margin-top: 2rem;
  color: red;
}
@media (max-width: 767px) {
  .productsPrice {
    font-size: calc(36px + 47.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 767px) {
  .productsPrice {
    font-size: calc(36px + 28 * 100vw / 1920);
  }
}

.productsDescription {
  max-width: 60%;
  margin: 1rem auto;
  text-align: center;
  font-size: 2.5rem;
}

.productLists {
  width: 80%;
  text-align: start;
  margin-top: 2rem;
  font-size: 2rem;
}

.productList {
  margin: 1rem 0;
}

.productList::marker {
  content: "🔥";
}

.btnPoz {
  margin-top: 3rem;
}

.buyBtn {
  position: relative;
  z-index: 10;
  width: 10rem;
  height: 3rem;
  background: green;
  border-radius: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
.buyBtn:hover {
  background: rgb(54, 225, 54);
}

.customWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #EEE8AA;
  font-size: 2rem;
  padding: 10px 0;
  margin-top: 4rem;
  margin-bottom: -4rem;
}

.customContent {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  color: red;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 913px) {
  .product__slider {
    width: 80%;
  }
  .product__slider .slick-arrow {
    display: none;
  }
  .product__slider-item {
    padding: 1rem 1rem;
  }
}/*# sourceMappingURL=product.module.css.map */